@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #40195b;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #fff;
}
